# Git
.git
.gitignore

# Python
__pycache__
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
*.log

# Django
*.sqlite3
staticfiles/
media/

# Docker
.dockerignore
Dockerfile
docker-compose*.yml

# IDE
.vscode/
.idea/
*.swp
*.swo

# Env
.env
.env.local
.env.prod